#ana{
    background-color: red;
    width: 550px;
    height: 550px;
    text-align: center;
    margin: auto;

}

#hac {
    margin: auto;
    color: white;
    font-size: 350px;
    text-align: center;
}

